*.o
src/module/testbloomfilter/.svn/*
test/*
src/module/testbloomfilter/bloomfilter_back/.svn
src/tools/.deps/*
src/module/.deps/*
src/.deps
src/bloomfilter
src/module/libspidermodule.a
src/set_delete_flag
src/test
src/tools/.libs/
src/tools/OtherFunc.lo
src/tools/cmsinfo.lo
src/tools/libcmsinfo.la
src/tools/libotherfunc.la
src/tools/libspidertools.a
src/file.txt
